head
  title express
  link(href='css/style.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
  link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
section#featured-services.featured-services.section-bg
  .container
    .row.no-gutters
      .col-lg-3.col-md-6
        // <div class="icon-box" style="background-image: url(image/7.jpg); border-radius: 5px;">
        .card(style='width: 18rem;')
          .card-body
            h5.card-title
              i.fas.fa-smog(style='font-size:24px; color:rgb(106, 106, 211)')
            p.card-text(style='color:black;') 12.00am - 5.59am
            p(style='color:black ;font-size:14px;')
              | High-#{data.e}&deg;C   Low-#{data.f}&deg;C
            button.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#demo1') Conver to F
        // </div>
      .col-lg-3.col-md-6
        // <div class="icon-box" style="background-image: url(image/7.jpg); border-radius: 5px;">
        .card(style='width: 18rem;')
          .card-body
            h5.card-title
              i.fas.fa-snowflake(style='font-size:24px; color:rgb(106, 106, 211)')
            p.card-text(style='color:black') 6.00am - 11.59am
            p.card-text(style='color:black; font-size:14px;')
              | High-#{data.i}&deg;C   Low-#{data.j}&deg;C
            button.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#demo2') Conver to F
        // </div>
      .col-lg-3.col-md-6
        // <div class="icon-box" style="background-image: url(image/7.jpg); border-radius: 5px;">
        .card(style='width: 18rem;')
          .card-body
            h5.card-title
              i.fas.fa-sun(style='font-size:24px; color:rgb(106, 106, 211)')
            p.card-text(style='color:black') 12.00pm - 5.59pm
            p.card-text(style='color:black; font-size:14px;')
              | High-#{data.m}&deg;C   Low-#{data.n}&deg;C
            button.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#demo3') Conver to F
        // </div>
      .col-lg-3.col-md-6
        // <div class="icon-box" style="background-image: url(image/7.jpg); border-radius: 5px;">
        .card(style='width: 18rem;')
          .card-body
            h5.card-title
              i.fas.fa-cloud-showers-heavy(style='font-size:24px; color:rgb(106, 106, 211)')
            p.card-text(style='color:black') 6.00pm - 11.59pm
            p.card-text(style='color:black; font-size:14px;')
              | High-#{data.q}&deg;C   Low-#{data.r}&deg;C
            button.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#demo4') Conver to F
        // </div>
    .row.no-gutters
      .col-lg-3.col-md-6
        #demo1.collapse
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Card title1
              p.card-text(style='color:black')
                | High-#{data.g}F Low-#{data.h}F
      .col-lg-3.col-md-6
        #demo2.collapse
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Card title2
              p.card-text(style='color:black')
                | High-#{data.k}F Low-#{data.l}F
      .col-lg-3.col-md-6
        #demo3.collapse
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Card title3
              p.card-text(style='color:black')
                | High-#{data.o}F Low-#{data.p}F
      .col-lg-3.col-md-6
        #demo4.collapse
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Card title4
              p.card-text(style='color:black')
                | High-#{data.s}F Low-#{data.t}F
